<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjPQouC-HMFGdmF5-DJOyfMlV46J_WmKI</string>
	<key>GCM_SENDER_ID</key>
	<string>253735866312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorillasoft.carsat</string>
	<key>PROJECT_ID</key>
	<string>carsat2024push</string>
	<key>STORAGE_BUCKET</key>
	<string>carsat2024push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253735866312:ios:f576d68a433cc40fe27afd</string>
</dict>
</plist>