<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApJes44Zv9NaV6L7tf-yESeQxrUrm1ogA</string>
	<key>GCM_SENDER_ID</key>
	<string>880464471503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorillasoft.rastreogpsplus</string>
	<key>PROJECT_ID</key>
	<string>plus01-traccar-sesotec</string>
	<key>STORAGE_BUCKET</key>
	<string>plus01-traccar-sesotec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880464471503:ios:1ebc5a1402f8b64289deba</string>
</dict>
</plist>